# Fichiers temporaires et systèmes
*.class
*.log
*.pyc
*.swp
.DS_Store
.build/
.history
.svn/

# IDE
*.iml
.idea/

# Dart & Pub
.dart_tool/
.pub/
/build/
/coverage/

# Données générées à l'exécution
/tasks.json
